In [1]:
import os

In [2]:
import pandas as pd

In [3]:
from pandasai import SmartDataframe

In [4]:
# Sample DataFrame
sales_by_country = pd.DataFrame({
    "country": ["United States", "United Kingdom", "France", "Germany", "Italy", "Spain", "Canada", "Australia", "Japan", "China"],
    "sales": [5000, 3200, 2900, 4100, 2300, 2100, 2500, 2600, 4500, 7000]
})

In [5]:
# By default, unless you choose a different LLM, it will use BambooLLM.
# You can get your free API key signing up at https://pandabi.ai (you can also configure it in your .env file)
os.environ["PANDASAI_API_KEY"] = "$2a$10$lo9YT659UCtO03IhTv2Ma.r627e25346QdLgssCt1hZjqc9l.ekve"

In [6]:
df = SmartDataframe(sales_by_country)

In [10]:
df.chat('Which are the top 5 countries by sales?')
# Output: China, United States, Japan, Germany, Australia

          country  sales
9           China   7000
0   United States   5000
8           Japan   4500
3         Germany   4100
1  United Kingdom   3200

In [11]:
print(df.last_code_generated)

top_countries = dfs[0].nlargest(5, 'sales')
result = {'type': 'dataframe', 'value': top_countries}

In [12]:
df.chat('Mostre 5 pa√≠ses com mais vendas?')

          country  sales
9           China   7000
0   United States   5000
8           Japan   4500
3         Germany   4100
1  United Kingdom   3200

In [13]:
print(df.last_code_generated)

top_countries = dfs[0].nlargest(5, 'sales')
result = {'type': 'dataframe', 'value': top_countries}